.face {
  --neg-radius: calc(var(--radius) * -1);
  transform-style: preserve-3d;
  position: absolute;
  border: 1px solid black;
  background-color: var(--bg);
  transform-origin: center center calc(var(--radius) * cos(pi / (var(--layers) * 2)));
  translate: -50% -50% var(--neg-radius);
  height: calc(var(--radius) * var(--normalized-face-side-length));
  width: calc(var(--radius) * var(--normalized-face-side-length));
}
