$summary-text: 14px;

.hint {
  font-size: 12px;
}

.inline {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  > * {
    flex-grow: 1;
  }
}

.properties {
  overflow: auto;
  width: 230px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  ul {
    padding-inline-start: 20px;
  }
  summary {
    line-height: $summary-text;
    user-select: none;
    border-radius: 4px;
    &:hover {
      background-color: #ffffff22;
    }
    h2 {
      display: inline;
    }
  }
  h2 {
    line-height: $summary-text;
    font-size: $summary-text;
  }
  section {
    padding-top: 12px;
    flex-direction: column;
    gap: 8px;
    display: flex;
  }
  > * {
    padding: 12px 16px;
    border-bottom: 1px solid gray;
  }
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      width: 33.3%;
    }
  }
}
