$summary-text: 14px;

.properties {
  width: 230px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  summary {
    line-height: $summary-text;
    h2 {
      display: inline;
      line-height: $summary-text;
      font-size: $summary-text;
    }
  }
  section {
    padding-top: 12px;
    flex-direction: column;
    gap: 8px;
    display: flex;
  }
  details {
    padding: 12px 16px;
  }
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      width: 35%;
    }
  }
}
