$summary-text: 14px;

.color-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    > *:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 28px;
    }
    > *:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 28px;
    }
  }
  .active {
    border-color: lightgray;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hint {
  font-size: 12px;
}

.inline {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  > * {
    flex-grow: 1;
  }
}

.properties {
  @media screen and (max-width: 900px) {
    display: none;
  }
  overflow: auto;
  width: 230px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  ul {
    padding-inline-start: 20px;
  }
  summary {
    line-height: $summary-text;
    padding: 12px 16px;
    user-select: none;
    &:hover {
      background-color: var(--hover-bg);
    }
    h2 {
      display: inline;
    }
  }
  h2 {
    line-height: $summary-text;
    font-size: $summary-text;
  }
  section {
    padding: 4px 16px 12px;
    flex-direction: column;
    gap: 8px;
    display: flex;
  }
  > * {
    border-bottom: 1px solid gray;
  }
  > *:not(details) {
    padding: 12px 16px;
  }
}
