$unit-width: 20px;
$input-width: 80px;

.name {
  flex-grow: 1;
}

.property-input {
  background: #272727;
  border-radius: 4px;
  padding: 8px 10px;
  position: relative;
  padding-bottom: 0;

  &:hover {
    background: #333;
  }

  > label {
    display: flex;
    align-items: center;
    > input {
      width: $input-width;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

.unit {
  width: $unit-width;
  position: absolute;
  user-select: none;
  pointer-events: none;
  height: $unit-width;
  line-height: $unit-width;
  text-align: center;
  font-size: 12px;
  right: 12px;
  top: 12px;
  color: lightgrey;
}

.slider {
  width: 100%;
  padding: 0;
  margin: 0;
}
