.name {
  flex-grow: 1;
}

.property-input {
  background: #272727;
  border-radius: 4px;
  padding: 8px 10px;
  position: relative;
  padding-bottom: 0;
  --unit-width: 20px;
  --input-width: 80px;

  &:hover {
    background: #333;
  }

  > label {
    display: flex;
    align-items: center;
    > input {
      width: var(--input-width);
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

.unit {
  width: var(--unit-width);
  position: absolute;
  user-select: none;
  pointer-events: none;
  height: var(--unit-width);
  line-height: var(--unit-width);
  text-align: center;
  font-size: 12px;
  inset-inline-end: 12px;
  top: 12px;
  color: lightgrey;
}

.slider {
  width: 100%;
  padding: 0;
  margin: 0;
}
