.zoom {
  position: absolute;
  right: var(--workspace-offset);
  top: var(--workspace-offset);
  display: flex;
  > button {
    &:first-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &:last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}
