.node {
  transform-style: preserve-3d;
  position: absolute;
  &.active {
    * {
      border-color: lawngreen !important;
      border-width: 3px !important;
    }
  }
}

.solid {
  transform-style: preserve-3d;
  position: absolute;
  &:hover {
    * {
      border-color: lawngreen;
    }
    ~ * * {
      border-color: lawngreen !important;
    }
  }
}
