.node {
  transform-style: preserve-3d;
  position: absolute;
  &.active {
    * {
      border-color: var(--highlight) !important;
      border-width: 3px;
      stroke: var(--highlight) !important;
      stroke-width: 3;
    }
  }
  &.hovered {
    * {
      border-color: var(--highlight) !important;
      stroke: var(--highlight) !important;
    }
  }
  &.wireframe {
    * {
      border-color: var(--wireframe);
      stroke: var(--wireframe);
      fill: none !important;
      background-color: transparent !important;
    }
  }
}

.solid {
  transform-style: preserve-3d;
  position: absolute;
  &:hover {
    * {
      border-color: var(--highlight);
      stroke: var(--highlight) !important;
    }
    ~ * * {
      border-color: var(--highlight) !important;
      stroke: var(--highlight) !important;
    }
  }
}
