.node {
  transform-style: preserve-3d;
  position: absolute;
  &.active {
    * {
      border-color: lawngreen !important;
      border-width: 3px;
      stroke: lawngreen !important;
      stroke-width: 3;
    }
  }
  &.hovered {
    * {
      border-color: lawngreen;
      stroke: lawngreen !important;
    }
  }
}

.solid {
  transform-style: preserve-3d;
  position: absolute;
  &:hover {
    * {
      border-color: lawngreen;
      stroke: lawngreen !important;
    }
    ~ * * {
      border-color: lawngreen !important;
      stroke: lawngreen !important;
    }
  }
}
