.chevron {
  transition: transform 0.3s;
}

.gallery {
  --header-height: 40px;
  --gallery-height: 300px;
  --inner-height: calc(var(--gallery-height) - var(--header-height));

  position: absolute;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #111;
  height: var(--header-height);
  left: var(--workspace-offset);
  right: var(--workspace-offset);
  bottom: 0;
  transition: height 0.3s;
  overflow: hidden;

  * {
    position: relative;
  }

  &.active {
    height: var(--gallery-height);
    .chevron {
      transform: rotate(180deg);
    }
  }

  button.header {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    user-select: none;
    align-items: center;
    background-color: transparent;
    border: none;
    &:hover {
      background-color: #222;
    }
  }
}

.inner {
  height: var(--inner-height);
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.insert {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.item {
  img {
    object-fit: cover;
  }
  .buttons {
    display: flex;
    gap: 4px;
    > * {
      flex: 1 1 50%;
    }
  }
}
