.children {
  margin-inline-start: 13px;
  margin-top: 3px;
  border-inline-start: 1px solid #555;
}

.parent {
  padding-inline-start: 4px;
  anchor-name: var(--anchor-name);
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid transparent;
  cursor: default;
  svg {
    flex-shrink: 0;
    opacity: 0.6;
  }
  &:hover {
    border-color: var(--highlight);
  }
}

.name {
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  word-break: break-all;
  margin-inline-start: 4px;
}

.node {
  margin-bottom: 3px;
}

.active {
  background-color: #333;

  > .parent {
    background-color: #555;
  }
}

.collapser {
  background-color: transparent;
  border: none;
}

.collapser,
.collapser-placeholder {
  width: 18px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
}

.context-menu {
  top: anchor(var(--anchor-name) center);
  inset-inline-start: anchor(var(--anchor-name) center);
  margin: 0;
  border-color: white;
  background-color: var(--bg);
  padding: 4px;
  > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    > button {
      justify-content: flex-start;
      border-width: 0px;
      background-color: transparent;
      &:hover,
      &:focus {
        background-color: #333;
      }
    }
  }
}
