.children {
  margin-left: 17px;
  margin-top: 3px;
  border-left: 1px solid #555;
}

.parent {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: default;
  svg {
    flex-shrink: 0;
  }
  &:hover {
    background-color: #444;
  }
}

.name {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.node {
  margin-bottom: 3px;
}

.active {
  background-color: #333;

  > .parent {
    background-color: #555;
  }
}
