.children {
  margin-left: 13px;
  margin-top: 3px;
  border-left: 1px solid #555;
}

.parent {
  padding-left: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: default;
  svg {
    flex-shrink: 0;
    opacity: 0.6;
  }
  &:hover {
    background-color: var(--hover-bg);
  }
}

.name {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  user-select: none;
  word-break: break-all;
  margin-left: 4px;
}

.node {
  margin-bottom: 3px;
}

.active {
  background-color: #333;

  > .parent {
    background-color: #555;
  }
}

.collapser {
  background-color: transparent;
  border: none;
}

.collapser,
.collapser-placeholder {
  width: 18px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
}
