:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #eeeeee;
}

html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button,
input {
  height: 28px;
  padding: 0 7px;
}

button {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li:not(:last-child) {
  padding-bottom: 0.5rem;
}
