:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #eeeeee;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  overflow: hidden;
  color: white;
  background-color: #111;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

textarea,
a.button,
button,
input {
  border-radius: 2px;
  border: 1px solid #777;
  background-color: #555;
  color: white;
}

a.button,
button,
input {
  height: 28px;
}

a.button:visited {
  color: white;
}

textarea:hover,
a.button:hover,
button:hover,
input:hover {
  border-color: #888;
  background-color: #666;
}

input {
  padding: 0 7px;
}

a.button,
button {
  user-select: none;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

a.button.icon,
button.icon {
  padding: 0;
  display: grid;
  place-items: center;
  aspect-ratio: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li:not(:last-child) {
  padding-bottom: 0.5rem;
}
